.select-main {
	padding: 20px;
	width: 50%;
	margin-left: 25%;
}
.price-heading {
	color:gray;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	margin-bottom: 20px;
}
.no-data {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	padding: 10px;
	margin-top: 50px;
	color: #ff0000;
}
.test{
	width:50%;
}
.charts-div{
display: flex
}
